<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Investimentos</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/page_principal.css') }}">
</head>

<body>

    <div class="container">

        <h1>Bem vindo</h1>

        <div class="botoes">
            <button onclick="window.location.href='investimentos'">
                Investimentos
            </button>

            <button onclick="window.location.href='sobre.html'">
                Sobre
            </button>

            <button onclick="window.location.href='infos.html'">
                Infos
            </button>
        </div>

    </div>

</body>
</html>
