<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Finza | Gestão Financeira</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/investimentos.css') }}">

</head>

<body>
    <header>

        <nav class="navbar">

            <div class="logo">
                <span>Finza</span>
            </div>

            <div class="menu">
                <a href="/">
                    Início
                </a>
                <a href="/investimentos" class="ativo">
                    Investimentos
                </a>
                <a href="/sobre">
                    Sobre
                </a>
                <a href="/infos">
                    Informações
                </a>
            </div>
        </nav>
    </header>
    <div id="form-overlay">
        <form id="form-investimento">

            <button type="button" id="fechar-form">✕</button>

            <h2>Novo investimento</h2>

            <div class="campo">
                <label for="nome">Nome do investimento</label>
                <input type="text" id="nome" name="nome" placeholder="Ex.: Tesouro IPCA+" maxlength="50" required>
            </div>

            <div class="campo">
                <label for="Data">Data</label>
                <input type="date" id="data" name="data" placeholder="DD/MM/AA" maxlength="10" required>
            </div>

            <div class="campo">
                <label for="tipo">Tipo de investimento</label>

                <select id="tipo" name="tipo" required>
                    <option value="" disabled selected>
                        Selecione um tipo
                    </option>

                    <option value="renda-fixa">Renda Fixa</option>
                    <option value="acao">Ação</option>
                    <option value="fii">FII</option>
                    <option value="etf">ETF</option>
                    <option value="fundo">Fundo de Investimento</option>
                    <option value="cripto">Criptomoeda</option>
                    <option value="poupanca">Poupança</option>
                </select>
            </div>

            <div class="campo">
                <label for="valor">Valor investido</label>

                <input type="number" id="valor" name="valor" placeholder="Ex.: 1500.00" min="0" step="0.01" required>
            </div>

            <div class="campo">
                <label for="juros">Juros / Rentabilidade</label>

                <input type="text" id="juros" name="juros" placeholder="Ex.: 100% CDI, IPCA + 6%" required>

                <small>
                    Exemplos: 10% a.a. · 100% CDI · IPCA + 6%
                </small>
            </div>

            <div class="campo">
                <label for="periodicidade">Periodicidade dos juros</label>

                <select id="periodicidade" name="periodicidade" required>
                    <option value="" disabled selected>
                        Selecione
                    </option>

                    <option value="mensal">Mensal</option>
                    <option value="bimestral">Bimestral</option>
                    <option value="trimestral">Trimestral</option>
                    <option value="semestral">Semestral</option>
                    <option value="anual">Anual</option>
                    <option value="vencimento">No vencimento</option>
                </select>
            </div>

            <div class="campo">
                <label for="amortizacao">Amortização</label>

                <select id="amortizacao" name="amortizacao" required>
                    <option value="" disabled selected>
                        Selecione
                    </option>

                    <option value="mensal">Mensal</option>
                    <option value="bimestral">Bimestral</option>
                    <option value="trimestral">Trimestral</option>
                    <option value="semestral">Semestral</option>
                    <option value="anual">Anual</option>
                    <option value="vencimento">No vencimento</option>
                    <option value="nao-amortiza">
                        Não possui amortização
                    </option>
                </select>
            </div>

            <button type="submit" class="principal">
                Adicionar
            </button>

        </form>
    </div>
    <div id="centralInvestimentos"></div>
    <div id=conteudo>
        <button class="principal" id="cadastrar-inv">Adicione investimentos</button>
    </div>
</body>
<script src="{{ url_for('static', filename='js/investimentos.js') }}">
</script>

</html>